.body-container { 
	max-width: 1170px;
	margin:auto;
	padding:20px;
}

body { 
	padding-top: 70px;
}

@mixin common--md() { 
	body { 
		padding-top: 146px;
	}

	.body-container { 
		max-width: 1170px;
		margin:auto;
		padding: 0px 10px ;
	}
}

@mixin common--lg() { 
}