@mixin searchbar--md() {
	
	.search-bar { 
		position: absolute;
		padding: 6px;
		background: #333;
		z-index: 99;
		width: 100%;
		left:110%;
		top: 0;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		transition:400ms;
		
		&.showing { 
			left:0%;
			transition:400ms;
		}
		
		.search-button, .close-search-button { 
			color: #fff;
			padding: 0px 7px;
			display: inline-block;
		}
		
		input{ 
			width:85%;
			border:none;
			font-size: 16px;
			border-radius: 2px;
		}
	}
}

@mixin searchbar--lg() {
	
}